page-login {

    .form-group {
        padding: 10px 0;

        label {
            display: inline-block;
            margin-bottom: 5px;
        }

        input {
            display: inline-block;
            width: 100%;
            border: 1px solid #F1F1F1;
            border-radius: 5px;
        }
    }

    .foot {
        padding-left: 0;
        padding-right: 0;

        a {
            display: inline-block;

            &:last-child {
                margin-top: 10px;
            }
        }
    }

}
