<footer class="footer">

  <ion-grid>
    <ion-row>
  
      <ion-col col-md-12 class="socials">
        
        <a ion-button outline clear icon-only href="mailto:contact@sheetbase.net">
          <ion-icon name="mail"></ion-icon>
        </a>
        <a ion-button outline clear icon-only href="tel:+1123456789">
          <ion-icon name="call"></ion-icon>
        </a>
        <a ion-button outline clear icon-only href="https://facebook.com/sheetbase">
          <ion-icon name="logo-facebook"></ion-icon>
        </a>

      </ion-col>
  
    </ion-row>

    <ion-row>
  
      <ion-col col-md-12 class="note">
        <p>Powered by <a href="https://sheetbase.net" target="_blank"><strong>Sheetbase</strong></a>.</p>
      </ion-col>
  
    </ion-row>
  </ion-grid>

</footer>